
// Fonts
$font: 'Roboto Condensed', sans-serif;
$font-family: 'Ubuntu Mono', monospace;

// Font Color
$header: #2E8B57;

// hover 
$button-hover:#32CD32;
$hover-font: #FF6347;
// Background
$header: #E6E6FA;
$nav-menu: #B0C4DE;
$main: #F8F8FF;
$aside: #F0F8FF;
$footer: #9FAFDF;
$button: #00CED1;