@import "../../styles/Variables.scss";

.header-container {
    display: grid;
}

.horizontal-navigation-bar {
    
    .language-registter-login {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $header;
        padding-right: 2rem;

        & h5 {
            margin-left: 2rem;
            color: red;
        }
    }

    .logo-search-cart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;

        .shopping-cart {
            & img {
                width: 3rem;
            }
        }
    }

    .text-logo-horizontal-nav-menue {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $nav-menu;
        padding: 0 2rem 0 1rem;

        .horizontal-nav-menu {
            height: 3rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            font-weight: 700;
        }
    }

   
}


